<div class="ggse-jrnl-root">
  <div class="ggse-toolbar">
    <button type="button" data-action="ggseJExportPdf">
      <i class="fa-solid fa-file-pdf"></i> {{localize "GGSE.ExportPdf"}}
    </button>
    <button type="button" data-action="ggseJExportHtml">
      <i class="fa-solid fa-file-code"></i> {{localize "GGSE.ExportHtml"}}
    </button>
    <button type="button" data-action="ggseJExportMd">
      <i class="fa-brands fa-markdown"></i> {{localize "GGSE.ExportMd"}}
    </button>
  </div>

  <div class="ggse-scroll">
    <div class="ggse-jrnl ggse-jrnl-screen">
      {{{bodyHtml}}}
    </div>
  </div>
</div>
