<div class="ggse-cards-root">
  <style>{{{cardsCss}}}</style>

  <div class="ggse-toolbar">
    <button type="button" data-action="ggseCardsPdf">
      <i class="fa-solid fa-print"></i> {{localize "GGSE.Cards.ExportPdf"}}
    </button>
    <span class="ggse-hint">{{localize "GGSE.Cards.PreviewHint"}}</span>
  </div>

  <div class="ggse-scroll">
    {{{bodyHtml}}}
  </div>
</div>
